

.img-row {

	&-inner{
		display: flex;
		align-items: center;

		& >span{
			margin: 0 10px;
		}
	}

	.chosen-img{
		margin-top: 10px;

		span{
			display: block;
			margin-bottom: 10px;
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}

.img-url {
	float: right;
}


.take-photo {
	@include fxd(0,0,0,0);
	z-index: 2;
	background: black;

	video {
		width: 100%;
		height: auto;
		@include centralize;
	}
}



a#captureBtn {
	position: fixed;
	bottom: 20px;
	left: 10px;
	right: 10px;
	z-index: 3;
}
