
.btn-circle {
		padding: 0;
    background: color(blue);
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    text-align: center;
    width: 3em;
    height: 3em;
		line-height: 3em;
}
