<!-- {{id}} -->
<article *ngIf="item">
	 <img [src]="item.afbeeldingurl" alt="">
		<h1>{{item.titel}}</h1>
		<span>{{item.bereidingstijd}}</span>
		<span>{{item.wachttijd}}</span>
		<ul>
			<li *ngFor="let ingredient of item.ingredienten">
				<strong>{{ingredient?.naam}}</strong>
				<span>{{ingredient?.hoeveelheid}}</span>
				<span>{{ingredient?.eenheid}}</span>
			</li>
		</ul>

		<p>
			{{item.bereidingswijze}}
		</p>
		<section class="meta">
			<span class="label">{{item.categorie}}</span>
		</section>

		<a [routerLink]="['bewerken']">bewerken</a>
</article>
