
.page-header h2 {
	pointer-events: none;
	height: 0;
	margin-top: 10px;
	margin-bottom: -10px;
	letter-spacing: 2px;
}

.page-header {
    text-align: center;
    padding: 12px 0;
}

app-search {
    text-align: left;
}
