
.nav-main {
		@include fxd(auto,0,0,0);
		background: color(grey, 300);
		padding: 10px 0;
		border-top: 1px solid color(grey, 400);

		a {
				text-decoration: none;
				color: color(grey, 500);
				width: 100%;
				display: inline-block;
				text-align: center;
		}

		strong {
				width: 100%;
				display: inline-block;
				font-size: 0.7em;
		}

		li {
				display: block;
				width: calc(100% / 4);
				float: left;
		}
}




