




<form (ngSubmit)="save()">

		<a id="selfieBtn" (click)="startVideo()">test</a>
		<!-- <div id="pickImage">
			<h6>Pick image</h6>
			<input type="file" accept="image/*" id="imagePicker">
		</div> -->

		<div id="divSelfie">
			<video id="player" autoplay></video>
			<a id="captureBtn" (click)="captureImage()">Capture</a>
		</div>

		<img>

      <div class="form-row">
        <label for="titel">Titel</label>
        <input type="text" name="titel" [(ngModel)]="newItem.titel">
      </div>
      <div class="form-row">
        <label for="afbeeldingurl">Afbeeldingurl</label>
        <input type="text" name="afbeeldingurl" [(ngModel)]="newItem.afbeeldingurl">
      </div>
      <div class="form-row">
        <label for="wachttijd">Wachttijd (uur)</label>
        <input type="number" name="wachttijd" [(ngModel)]="newItem.wachttijd">
      </div>
      <div class="form-row">
        <label for="bereidingstijd">Bereidingstijd (uur)</label>
        <input type="number" name="bereidingstijd" [(ngModel)]="newItem.bereidingstijd">
      </div>
      <div class="form-row">
        <label for="bereidingswijze">Bereidingswijze</label>
        <textarea rows="5" name="bereidingswijze" [(ngModel)]="newItem.bereidingswijze"></textarea>
      </div>
      <div class="form-row">
        <h5 *ngIf="newItem.ingredienten.length > 0">Ingredienten</h5>
        <ul class="ingredient-list">
          <li *ngFor="let ingredient of newItem.ingredienten;let index = index;trackBy:trackByIndex;">
            <input name="Naam {{index}}" type="text" [(ngModel)]="ingredient.naam" placeholder="Naam">
            <input name="Aantal {{index}}" type="number" [(ngModel)]="ingredient.hoeveelheid" placeholder="Aantal">
            <select name="eenheid {{index}}" id="type" [(ngModel)]="ingredient.eenheid">
							<option value="-">-</option>
              <option value="g">gram</option>
							<option value="ml">milliliter</option>
							<option value="el">eetlepel</option>
            </select>
          </li>
        </ul>
          <button class="btn btn-primary" type="button" (click)="addIngredient()">Voeg ingredient toe +</button>
      </div>
      <div class="form-row">
        <label for="bereidingswijze">Categorie</label>
        <select name="type" id="type" [(ngModel)]="newItem.categorie">
          <option value="ovenschotel">ovenschotel</option>
					<option value="onepot">one-pot</option>
					<option value="wok">wok</option>
					<option value="pan">pan</option>
					<option value="bakken">bakken</option>
        </select>
      </div>


      <div class="form-row">
        <input class="btn btn-primary" type="submit" value="Opslaan">
      </div>
    </form>

		<div *ngIf="id">
			<a [routerLink]="['../']">terug</a>
		</div>
