
<nav class="nav-main">
	<ul>
		<li>
			<a routerLinkActive="active" routerLink="/recepten">
				<img class="icon-xs" src="/assets/img/cutlery.svg" alt="">
				<strong>Recepten</strong>
			</a>
		</li>
		<li>
			<a routerLinkActive="active">
				<img class="icon-xs" src="/assets/img/refrigirator.svg" alt="">
				<strong>Koelkast</strong>
			</a>
		</li>
		<li>
			<a routerLinkActive="active" routerLink="/booschappenlijst">
				<img class="icon-xs" src="/assets/img/list.svg" alt="">
				<strong>Winkellijst</strong>
			</a>
		</li>
	</ul>
</nav>



