
app-recept-full {
	article{
		background: #fff;
		min-height: 100vh;

		.article-body {
				padding: 20px;

				p{
					margin-bottom: 40px;
				}
		}

		.time {
				color: gray;
				margin-bottom: 10px;
				display: inline-block;
		}

		img{width: 100%; height: auto;}
	}
}
