.recept-details {
	padding: 20px 0;


	h3 {
		flex: 1;
		width: 100px;
		font-size: 0.8em;
	}


	li {
		display: flex;
		border-bottom: 1px solid #dedede;
		padding-bottom: 15px;
		margin-bottom: 20px;
		margin-right: -20px;
	}

	.recept-details-side {
		flex: 2;

		> span{
				color: #4c4c4c;
				line-height: 1.6;
				margin-bottom: 15px;
				font-size: .95em;
		}

		> .btn {
			margin-top: 10px;
		}
	}
}
